---
layout : layout
title : case.schollaart.net
Homebutton: false
---
@model Pretzel.Logic.Templating.Context.PageContext

@{
    var numberPosts = 5;
}
@for (var i = 0; i < numberPosts && i < Model.Site.Posts.Count; i++)
{
    var post = Model.Site.Posts[i];

    <h2><a href="@post.Url">@post.Title</a></h2>
    <div class="subtitle">@post.Date.ToString("d MMM, yyyy")</div>

    @Raw(post.Content)

    if (i < (Model.Site.Posts.Count-1))
    {
        <hr/>
    }
}

@if (Model.Site.Posts.Count > numberPosts)
            {
    <h1>Older posts</h1>
    <ul class="olderposts">
        @foreach (var post in Model.Site.Posts.Skip(numberPosts))
        {
            <li>
                <span class="olderpostdate">@post.Date.ToString("d m")</span> <a href="@post.Url">@post.Title</a>
            </li>
        }
    </ul>
}