@inherits RazorEngine.Templating.TemplateBase<Pretzel.Logic.Templating.Context.PageContext>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
@Include("head.cshtml")
<body>
    <div id="container">

        @Include("side.cshtml")

        <div id="content">
            @if (!Model.Bag.ContainsKey("Homebutton") || (bool)Model.Bag["Homebutton"])
            {
                <div id="homebutton">
                    <a href="/"><span class="glyphicon glyphicon-home"></span></a>
                </div>
            }
            @if (!Model.Bag.ContainsKey("Breadcrump") || (bool)Model.Bag["Breadcrump"])
            {
                @*<div id="breadcrump">
                        <a href="/"><span class="glyphicon glyphicon-home"></span></a>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span id="archive"><a href="#">Archive</a></span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span id="currentpage"><a href="#">@Model.Title</a></span>
                    </div>*@
            }

            @Raw(Model.FullContent)

        </div>
    </div>
    @Include("footer.cshtml")
</body>
</html>