---
layout: layout
---
@inherits RazorEngine.Templating.TemplateBase<Pretzel.Logic.Templating.Context.PageContext>


<h1>@Model.Title</h1>
<div class="subtitle">@Model.Page.Date.ToString("d MMM, yyyy")</div>


@Raw(Model.Content)

<ul>
    @foreach (var tag in Model.Page.Tags)
    {
        <li><a href="/tag/@tag">@tag</a></li>
    }
</ul>

<div id="page-navigation">
    <div class="left">
        @if (Model.Previous != null)
        {
            <a href="@Model.Previous.Url" title="Previous Post: @Model.Previous.Title">&larr; @Model.Previous.Title</a>
        }
    </div>

    <div class="right">
        @if (Model.Next != null)
        {
            <a href="@Model.Next.Url" title="next Post: @Model.Next.Title">@Model.Next.Title &rarr; </a>
        }
    </div>
    <div class="clear">&nbsp;</div>
</div>
@if (!Model.Bag.ContainsKey("Comments") || (bool)Model.Bag["Comments"])
{
    <div id="disqus_thread"></div>
    <script>

        var disqus_developer = 1;

        var disqus_config = function () {
            this.page.url = '@Model.Page.Url';
            this.page.identifier = '@Model.Page.Title';
        };

        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//caseschollaartnet.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
}